body,
html {
  height: 100%;
}

body {
  background-image: url('../assets/bulbasaur-background.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: #4F8235!important;
  border-color: #4F8235!important!;
}

.btn-primary:hover {
  background-color: #41722D!important;
  border-color: #41722D!important;
}

.card, .mt-4 {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.card-title {
  color: #4F8235;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.pokemon-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 50%;
  padding: 10px;
}

.pokemon-info {
  margin-top: 20px;
  text-align: center;
}

.pokemon-info h3 {
  color: #4F8235;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.pokemon-info p {
  color: #333;
  margin: 5px 0;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.type-item {
  background-color: #A7DB8D;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

.pokemon-moves {
  margin-top: 20px;
  text-align: center;
}

.pokemon-moves ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.move-item {
  background-color: #FFF;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.favorite-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pokemon-card {
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.pokemon-card h2 {
  color: #4F8235;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

.pokemon-card button {
  background-color: #4F8235;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.pokemon-card button:hover {
  background-color: #41722D;
}

.favorite-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pokemon-card {
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* Adding opacity to see the wallpaper bg */
.pokemon-card,
.favorite-pokemon {
  background-color: rgba(255, 255, 255, 0.3);
}