body,
html {
  height: 100%;
}

/* NavBar */
.navbar {
  padding: 0.5rem 1.5rem;
  background-color: #FFCB05;
  border-bottom: 3px solid #3D7DCA;
  transition: all 0.3s ease;
}

.navbar .navbar-brand {
  color: #3D7DCA;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar .navbar-nav .nav-link {
  color: #3D7DCA;
}

.navbar-toggler {
  border-color: #3D7DCA;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(61, 125, 202, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 576px) {
  .navbar {
    padding: 0.25rem 1rem;
  }

  .navbar .navbar-brand {
    font-size: 1.2rem;
  }
}

/* NavBar */




.pokemonSprite {
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

.pokemon-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.pokemon-info {
  margin-top: 10px;
  text-align: center;
}

.pokemon-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pokemon-info p {
  margin: 5px 0;
}

.pokemon-moves {
  margin-top: 10px;
}

.pokemon-moves ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-moves li {
  margin-bottom: 5px;
}

.alert {
  margin-bottom: 10px;
}

.move-list,
.type-list,
.ability-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.move-item,
.type-item,
.ability-item {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.move-item {
  font-weight: bold;
}

.type-item {
  color: #fff;
  background-color: #4285f4;
}

.ability-item {
  background-color: #e0e0e0;
}



